[Unit]
Description = HTCondor pool manager for Google Cloud Platform

[Service]
ExecStart = /usr/bin/gcpm -s > /var/log/gcpm.log 2>&1
ExecStop = /usr/bin/kill -p $MAINPID
Restart = always
Type = simple
PIDFile = /var/run/gcpm/gcpm.pid

[Install]
WantedBy = multi-user.target
